body{
	width: 100%;
	height: 100%;
	margin: 0px;
}

/*播放器区域*/
#playerPan{
	position:relative;
	width:640px;
	height: 480px;
	margin: auto;
	background-color: black;
}

/*主视频*/
#mainVideo{
	margin: auto;
	width: 640px;
	height: 480px;
}

/*操作面板*/
#controlsPan{
	width: 640px;
	height: 28px;
	margin: auto;
	padding: 4px 0px 4px 0px;
	position:absolute;
	bottom:0px;
	background-color: black;
	background-color:rgba(0,0,0,0.5);
	border-radius:6px;
	text-align: center;
}

button{
	font-family: Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
}

/*logo样式*/
.logoImg{
	top:4px;
	right:4px;
	position:absolute;
}

/*进度条样式*/
.controlBar{
	height: 10px;
	position: relative;
	background-color: white;
	background-color:rgba(255,255,255,0.5);
	border-radius:5px;
	vertical-align: middle;
	margin-top: 8px;
	margin-right: 2px;
	cursor:pointer;
}

/*进度滑块样式*/
.controlInner{
	width: 16px;
	height: 16px;
	background-color: white;
	border-radius:8px;
	cursor:pointer;
	position:absolute;
	margin-top: -3px;
}

/*进度条宽度*/
#progressBar{
	width: 320px;
}

/*音量条宽度*/
#volumeBar{
	width: 40px;
}

/*图片按钮*/
.btnimg{
	cursor:pointer;
	vertical-align: middle;
	margin: 2px;
}

/*控制区文字*/
.controlstext{
	width: 60px;
	color: white;
	vertical-align: middle;
	overflow: hidden;
	margin: 2px;
}

/*控制区靠左模块*/
.floatLeftItem{
	float: left;
	display: block;
}

/*控制区靠右模块*/
.floatRightItem{
	float: right;
	display: block;
}

.clearBox{
	clear: both;
}